h1{
    color: #000;
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: Jost, sans-serif;
}

#banner{
    background-image: url(../src/assets/index/banner-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bannerCaja{
    background-color: white;
}
