.container-title{
    background-color: #FFA5AB;
    padding-top: 20rem;
    padding-bottom: 20rem;
}

.container-slide-banner{
    background-color: white;
    padding-top: 25rem;
    padding-bottom: 25rem;
}

.container-slide-item-1{
    background-color: white;
    padding-top: 25rem;
    padding-bottom: 25rem;
}

.container-banner-1{
    background-color: white;
    padding-top: 15rem;
    padding-bottom: 15rem;
}
.container-slide-item-2{
    background-color: white;
    padding-top: 25rem;
    padding-bottom: 25rem;
}
.container-banner-2{
    background-color: white;
    padding-top: 25rem;
    padding-bottom: 25rem;
}