h1{
    color: #000;
}

h2{
    color: rgb(19, 18, 18);
}

*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#banner{
    background-image: url(../src/assets/index/banner-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bannerCaja{
    background-color: white;
}

.opacity-75{
    color: black;
}

.bt-primary{
    background-color: #A53860;
    opacity: 100%;
    color: white;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    border-radius: .8rem;
    transition: 0.3s;
    border: none;
}

.bt-primary:hover{
    background-color: #DA627D;
    opacity: 66%;
}

@media(max-width: 767px) {

    .img-bg {
        display: none;
    }
}

@media(min-width:767px) {
    
}
