* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section{
    color: #450920;
}

section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.formulario{
    width: 500px;
    /* width: 50%; */
    background-color: #FFA5AB;
    padding: 2rem;
    border-radius: 30px 0px 0px 30px;
}

.form-control{
    border-radius: .8rem;
    border-color: #eed9d9;
}

/* quitar decoracion y color a los links */
#linkInicioSesion{
    text-decoration: none;
    color: #450920;

}

#linkInicioSesion:hover{
    color: #A53860;
}

.registratebtn{
    background-color: #A53860;
    color: white;
    padding:.9rem ;
    font-size: 1.5rem;
    border-radius: .6rem;
    border: none;
    transition: 0.3s;
}

.registratebtn:hover{
    background-color: #c97392;
}

@media screen and (max-width: 1024px) {
    .img-re{
        display: none;
    }
    
    .formulario{
        border-radius: 30px;
    }
}
