.titulo{
    background-color: #FFA5AB;
    height: 10rem;
    margin: 0 !important;
}
.productos{
    height: 30rem;
}
.entrega{
    background-color: #F9DBBD;
    height: 20rem;
    margin: 0 !important;
}