/* <-----------------------------Navbar-----------------------------> */

.tooltip-container {
    position: relative; /*relative: los elementos se posicionan de forma relativa a su posición normal.*/
    display: inline-block;
    padding: 2rem;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #DA627D;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 70%; /* Posiciona el tooltip bajo del elemento */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }





.navbar-1{
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.logo{
    height: 12.5rem;
    padding-left: 13rem;
}

.logoMobil{
    height: 5rem;
    text-align: left;
}


.bi bi-person-gear mobil{
    margin-right: 10rem;
}


.navbarEscritorio{
    text-align: center;
}



.card-body-collapse{
    background-color: #F9DBBD !important;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.item-collapse {
 padding-top: 0.5rem;
 padding-bottom: 0.5rem;
}

.item-collapse img{
    width: 2.5rem;
    margin-right: 2rem;
}

.collapse-p a{
    background-color: transparent; 
    border: transparent;
}
.collapse-p img{
    width: 2.5rem; 
    padding-top: 0.4rem;
}
.input-group{
    padding-top: 0.5rem; 
    padding-right: 4rem;
}
.buscarCaja{
    border-radius: 2rem 0rem 0rem 2rem !important;
    border: 1px solid #A53860 !important;
}

.buscarBoton{
    border-radius: 0px 20px 20px 0px !important;
    background: #FFA5AB !important;
    /* width: 107px; */
}
           
.navbar-2{
    background-color: #F9DBBD;
    padding-top: 1%;
    padding-bottom: 1%;
   
}

.enlacenavbar{
    text-decoration: none ;
    color: black;
    font-weight:lighter;
}
.btn-primary{
    background-color: transparent !important; 
    border: transparent !important;
}

@media(max-width: 767px) {
    .navbarEscritorio{
        display: none;
    }
    
    .navbarBuscador{
        display: none;
    }
    .dropdown-menu{
        background-color: #F9DBBD !important;
    }
}

@media(min-width:767px){
    .navbarMobil{
        display: none;
    }
    .collapse {
        display: none;
    }
}



/* <-----------------------------Footer-----------------------------> */
.footer-section {
    background-color: #A53860;
    color: #F6F0E9;
}

.footer-section a {
    text-decoration: none;
    color: #F6F0E9;

    transition: 0.3s;
}

.footer-section a:hover {
    color: #450920;
}

.footerPago {
    background-color: #F6F0E9;
}