body{
    background-color: #DA627D !important;

}
.form-coment-contact > * {
    display: flex;
    flex-direction: column;
    border: 0.5vw solid black ;
    border-radius: 4vw;
    align-items: center;
    margin:2vw;
    background-color: white;
    color: #450920;
}
.contactanos > * , .comentarios > * {
    margin: 3vw;
}

.imgPerfil{
    width: 60%;
    border-radius: 2rem;
    margin: 2rem auto;
}

/* .buscar{
    width: 90%;
    height: 75px;


    border: 1px solid #A53860;
} */

/* .botonBuscar{
    width: 107px;
    height: 75px;
    color: #450920;
    font-size: large;

    background: #FFA5AB;

    position: relative;
    right: 100px;

    border-radius: 0px 20px 20px 0px !important;
    border: none;
} */

.col-index {
    padding-top: 1%;
    padding-bottom: 1%;
}

.card {
    box-shadow: 4px 4px 4px 4px rgba(10, 10, 10, 0.33);
}

.vertical-line {
    border-left: 0.1rem solid black; 
    height: 40vw;
    margin-left: 2rem; 
    width: 0.1rem;
}
.imgPerfil{
    width: 60%;
    border-radius: 2rem;
    margin: 2rem auto;
}

.col-index {
    padding-top: 1%;
    padding-bottom: 1%;
}

.card {
    box-shadow: 4px 4px 4px 4px rgba(10, 10, 10, 0.33);
}

.seccion-tarjetas {
    background-color: white;
}

.navbar-1{
    background-color: white;
    padding-top: 3%;
    padding-bottom: 1%;
   
}

.buscarCaja{
    height: 75px;
    border-radius: 20px 0px 0px 20px !important;
    border: 1px solid #A53860 !important;
}

.buscarBoton{
    border-radius: 0px 20px 20px 0px !important;
    background: #FFA5AB !important;
    /* width: 107px; */
}

.navbar-2{
    background-color: F9DBBD;
    padding-top: 1%;
    padding-bottom: 1%;
   
}

.enlacenavbar{
    text-decoration: none ;
    color: black;
    font-weight:lighter;
}

@media(max-width: 767px) {
    .navbarEscritorio{
        display: none;
    }
    
    .navbarBuscador{
        display: none;
    }
}

@media(min-width:767px){
    .navbarMobil{
        display: none;
    }
}