body{
    background-color: #F9DBBD !important;
}
a{
    text-decoration: none !important;
    color: #450920 !important;
}
h2{
    font-size: 4vw !important;
}

/* <-----------------------------Tarjetas-----------------------------> */
.card-holder{
    background-color: white;
}
.imgPerfil{
    width: 60%;
    border-radius: 2rem;
    margin: 2rem auto;
}
.col-index {
    padding-top: 1%;
    padding-bottom: 1%;
}
.card {
    box-shadow: 4px 4px 4px 4px rgba(10, 10, 10, 0.33);
}
.imgPerfil{
    width: 60%;
    border-radius: 2rem;
    margin: 2rem auto;
}
.col-index {
    padding-top: 1%;
    padding-bottom: 1%;
}
.card {
    box-shadow: 4px 4px 4px 4px rgba(10, 10, 10, 0.33);
}
/* <-----------------Seccion contactanos y comentarios-------------------> */
.form-coment-contact > * {
    display: flex;
    flex-direction: column;
    border-radius: 4vw;
    align-items: center;
    margin:2vw;
    background-color: #F6F0E9;
    color: #450920;
    box-shadow: 4px 4px 4px 4px rgba(10, 10, 10, 0.33)
}
.contactanos > * , .comentarios > * {
    margin: 3vw;
}
.contactanos a{
    background-color: #E8E8E8;
    font-size: 4vw;
    border: 0.5vw solid #450920;
    padding: 2vw;
    border-radius: 0.8rem;
}
.contactanos h4{
    font-size: 3.5vw;
}
form{
    display: flex;
    width: 90%;
    margin: calc(10%/4);
}

form > *{
    width: 50%;
    display: flex; 
    flex-direction: column;
    margin: 2.5vw !important; 
}
.form-div{
    width: 50%;
}
input{
    margin: 2vw 0 !important;
    border-radius: 0.5rem !important;
    height: 30%;
}
input::placeholder, textarea::placeholder{
    color: #DA627D;
    font-size: 3vw;
}
button{
    border-radius: 0.5rem !important;
    background-color: #A53860;
    color: white;
    font-size: 3.5vw !important;
    height: 30%;
}
.vertical-line {
    border-left: 0.1rem solid black; 
    height: 40vw;
    margin-left: 2rem; 
    width: 0.1rem;
}
footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    height: 20vw;
    background-color: #DA627D;
    border-top: 3vw solid white;
}
footer > *{
    display: flex;
    align-content: center;
    flex-direction: column;
    color: #450920;
}
.enlaces{
    width: 10%;
}
.RRSS{
    align-items: center;
    width: 80%;    
}
.RRSS a{
    margin: 3vw 2vw;
}
.RRSS p{
    text-align: center ;
    margin-top: 5vw;
    margin-bottom: 0;
}
/* Media queries para teléfonos */
@media (max-width: 600px) {
    footer, .vertical-line{
        display: none;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    form > *{
        width: 90%;
    }
}

/* Media queries para tablets */
@media (min-width: 600px) and (max-width: 900px) {
    .RRSS a{
        margin: 0.3vw 0.2vw;
        font-size: 2vw !important;
    }
    .enlaces a{
        margin: 0.2vw ;
        font-size: 2vw !important;
    }
    .RRSS p{
        text-align: center ;
        margin-top: 1.5vw;
        margin-bottom: 0;
        font-size: 2vw;
    }
}