
.imgPerfil{
    width: 60%;
    border-radius: 2rem;
    margin: 2rem auto;
}

.col-index {
    padding-top: 1%;
    padding-bottom: 1%;
}

.card {
    box-shadow: 4px 4px 4px 4px rgba(10, 10, 10, 0.33);
}

.contactanos a{
    background-color: #E8E8E8;
    font-size: 1.5rem;
    text-decoration: none;
    color: #450920;
    border: 0.15rem solid #450920;
    padding: 0.5rem;
    border-radius: 0.8rem;
}

.seccion-tarjetas {
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.vinculo1{
    width: 80%;
    padding-top: ;
    padding-bottom: 2%;
    
}
.vinculo2{
    width: 70%;
    padding-top: 11%;
    padding-bottom: 2%;
    
}