.titulo {
    background-color: #FFA5AB;
    padding-bottom: 5rem;
    padding-top: 5rem;

}

;
/* el margin es para los container de adentro a afuera*/
/* paddin funciona con el contenido del contenedor*/